ul{
    display: flex;
    padding: auto 100px;
    text-align: center;
    justify-content: space-around;
    background-color: black;
    margin: 0px;
    width: 100%;

    
}
nav a {
    display:block;
    padding: 1em;
}

a {
    color:white;
    text-decoration: none;
    font-family: 'Ariel', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    margin: 15px;

}
.logo {
    display: flex;
    text-align: left;


}