ul{
    display: flex;
    float: left;
    padding: auto 100px;
    text-align: center;
    justify-content: space-around;
    background-color: black;
    margin: 0px;
    width: 100%;

    
}
nav a {
    display:block;
    padding: 1em;
}

a {
    color:white;
    text-decoration: none;
    font-family: 'Ariel', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    flex-wrap: wrap;

}
.logo {
    display: flex;
    text-align: left;
    font-size: 25px;
    font-family: 'Gill Sans';
    margin-left: -300px;
    margin-bottom: 25px;
    


}

.search {
    display: flex;
    margin-left: 100px;

}