ul{
    display: flex;
    padding: black, auto 100px;
    text-align: center;
    justify-content: space-around;
    background-color: black;
    margin: 0;

    
}
nav a {
    display:block;
    padding: 1em;
}

a {
    color:white;
    text-decoration: none;
    padding: black auto;
    font-family: 'Ariel', sans-serif;
}